
<div class="row">
  <div class="col">
    <div class="name"> Henry <br> Sullivan</div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="about"> web developer / <br> graphic designer</div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="portfolio"> Portfolio </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="scroll"> more info </div>
  </div>
</div>







