.info {
  margin-top: 50px;
  color: #ffffff;
  margin-bottom: 1200px;
}

body {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 57%, rgba(8,19,56,1) 100%);
}

.back {
  margin-bottom: 10px;
  margin-top: -100px;
  font-size: 4.75em;
}

.line_1 {
margin-top: -1375px;
margin-bottom: 1300px;
margin-right: 2000px;
}

