

<div class="row">
  <div class="col">
    <div class="info"><h1 id="info"> Hi, my name is Henry Sullivan, I am a beginner rails developer looking for a web devolopment internship. <br>  I also know after effects and adobe illustrator <br>  <br> email: henry@dipperstove.com <br> <br> github: henrypaws</h1> </div>
  </div>
</div>

<div class="line_1"> <HR WIDTH="95%" COLOR="#343deb" SIZE="9"> </div>


<div class="row">
  <div class="col">
    <div class="back">  <%= link_to "back", '/' %>  </h1> </div>
  </div>
</div>
